<div class="jumbotron">
    <form (ngSubmit)="onSubmit($event, user)" #loginForm="ngForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input required type="text" name="_username" class="form-control" id="exampleInputEmail1" [(ngModel)]="user._username" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input required type="password" name="_password" class="form-control" id="exampleInputPassword1" [(ngModel)]="user._password"
                placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button> Username: {{user._username}} Password: {{user._password}}

    </form>
</div>